.amaran-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.amaran-wrapper {
/*    position: fixed;*/
    z-index: 9999;
}



.amaran-wrapper.center {
    width: 50%;
    height: 50%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.amaran {
/*    width: 200px;*/
    background: rgba(0,0,0,.7);
    padding: 3px;
    color: #fff;
    border-radius: 4px;
    display: none;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    text-align: left;
    min-height: 50px;
    margin: 0.6em;
}

.amaran-close {
    position: absolute;
    top: 0px;
    right: 2px;
    display: block;
    width: 20px;
    height: 20px;
}

/*
.amaran-close:before {
    color: rgba(231, 76, 60, 0.21);
    font-weight: 700;
    font-family: Arial,sans-serif;
    font-size: 18px;
}
*/

.amaran.error {
/*    width: 22em;*/
    min-height: 5.5em;
    background: rgba(255, 255, 255, 0.94);
/*    margin: 15px;*/
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    -moz-box-shadow:    0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    box-shadow:         0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    border-radius: 0;
    padding: 0;
    overflow: hidden;
}

.amaran.error .icon {
    width: 28%;
    height: 100%;
    position: absolute;
    background: rgba(211, 44, 28, 0.16);
    float: left;
}

.amaran.error img {
    max-width: 100%;
}

.amaran.error .info {
    padding-left: 32%;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    color: #777;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 0.8em;
}

.amaran.error b {
    display: block;
    font-size: 16px;
}

.amaran.error.blue {
    background: #2773ed;
    color: #fff;
}

.amaran.error.yellow {
    background: #f4b300;
    color: #fff;
}

.amaran.error.green {
    background: #78ba00;
    color: #fff;
}

.icon-notification-close {
   color: rgb(189, 189, 189);
font-size: 1.3em;
padding: 0px 0px 0px 6px;
}

.icon-notification-error {
    color: rgba(231, 76, 60, 0.21);
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35%;
    width: 40%;
    margin: -35% 0 0 -31%;
}

.icon-notification-success{
	color: #8bc34a;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 35%;
    width: 40%;
    margin: -35% 0 0 -31%;
}

.amaran.success .icon{
	  width: 28%;
    height: 100%;
    position: absolute;
    background: none repeat scroll 0% 0% rgb(197, 225, 165);
    float: left;
}



.amaran.success {
/*    width: 22em;*/
    min-height: 5.5em;
    background: rgba(255, 255, 255, 0.94);
/*    margin: 15px;*/
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    -moz-box-shadow:    0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    box-shadow:         0px 0px 15px 1px rgba(147, 147, 147, 0.75);
    border-radius: 0;
    padding: 0;
    overflow: hidden;
}

.amaran.success img {
    max-width: 100%;
}

.amaran.success .info {
    padding-left: 32%;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    color: #777;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 0.8em;
}