/*
body {
    background: #ebeef1 !important;
}
*/

body {
    background-color: transparent !important;
}

.main-content {
    background: #f0f0f0 !important;
    height: 100%;
}

.main-content .content-wrap {
  padding-top: 3%;
}

.panel {
    background-color: #FFFFFF !important;
    min-width: 224px;
    margin-top: -6px;
    position: absolute;
    z-index: 0;
}

.panel-body {
    padding: 30px 15px;
    padding-bottom: 10px !important;
}
.nav-tabs {
    background: none !important;
    min-width: 220px;
}

.nav-tabs > li {
    background-color: #DADADA;
    height: 42px;
}

.nav>li>a {
    padding: 10px 19px !important;
}

/*
.borderRadiusTabLogin {
    border-radius: 6px 0px 0px 0px !important;
}
*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #FFFFFF !important;
    color: #222 !important;
    border-radius: 0px !important;
}

.tabColorText {
color: #FFFFFF !important;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #ADAFAF !important;
/*    border-radius: 6px 6px 0px 0px !important;*/
}

/*
.borderRadiusTabBack {
    border-radius: 0px 6px 0px 0px !important;
}
*/

.panel {
  width: 500px !important;
}

.tab-content {
    overflow: hidden;
}

.form {
  margin-top: 1em;
  margin-bottom: 0;
}

.alert {
  margin: 10px 0 10px 0;
}

.alert-success {
  background: #c0fda7;
}

.txt-miclaro {
  width: 80%;
  color: #444444;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.link {
    color: #0095a9;
    cursor: pointer;
    display: block;
    float: left;
    display: block;
    margin-bottom: 15px;
}

.link:hover {
    color: #006876;
}

.link-ingreso {
    margin: 0 auto;
    display: table;
}

.link-ingreso .link {
  margin: 15px 0 0 0;
}

#reset .link, #new .link {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
}

#reset .button, #new .button {
  margin-top: 15px;
}

#reset .captcha, #new .captcha {
  margin-bottom: 15px;
  display: block;
  margin-right: 5%;
  float: left;
}

#reset .refresh, #new .refresh {
  display: block;
  width: 20%;
  height: 51px;
  float: left;
  background: url(../img/refresh.png) center no-repeat #E8E8E8;
}

.logoStyle {
    margin-top: 0;
}

.button {
  display: block;
  font-size: 18px;
  background: #fff;
  text-decoration: none;
  padding: 8px 36px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background: #D52B1E;
  margin-top: 15px;
}

.button:hover {
  background: #B51405;
  color: #FFFFFF;
}

.button:visited, .button:focus, .button:active {
  color: #FFFFFF;
}

.content-wrap{
  margin: auto;
}

.logoStyle {
  width: 35%;
  }


.nav-tabs>li>a {
    margin-right: 0px !important;
}

.hide-error-leyend-login {
	display: none;
}

.show-error-leyend-login {
	display: block;
}

.leyenda-linea {
  font-size: 12px;
  color: #9797A5;
  margin-bottom: 20px;
}